In [63]:
from pyspark.sql import SparkSession
import os
import sys
#from config import API_KEY
from datetime import datetime, timedelta
import requests
from pyspark.sql.types import StructType, StructField, StringType, FloatType, TimestampType, DateType, DoubleType, IntegerType
import pandas as pd
from pyspark.sql import Row
from pyspark.sql.window import Window
from pyspark.sql.functions import dense_rank, col, rank, avg, round, count, countDistinct, udf, when, lower
from pyspark.sql import functions as F
import sqlite3
from pyspark.sql.functions import date_format

In [3]:
print(f"JAVA_HOME: {os.environ.get('JAVA_HOME')}")
print(f"PATH: {os.environ.get('PATH')}")
os.environ['JAVA_HOME'] = r'C:\Program Files\Java\jdk-1.8'
print(f"JAVA_HOME: {os.environ.get('JAVA_HOME')}")

#os.environ["PYSPARK_PYTHON"] = r"C:\Users\lucas\anaconda3\python.exe"
#os.environ["PYSPARK_DRIVER_PYTHON"] = r"C:\Users\lucas\anaconda3\python.exe"

JAVA_HOME: C:\Program Files\Java\jdk-1.8
PATH: c:\Users\lucas\anaconda3\envs\pyspark_env;C:\Users\lucas\anaconda3\envs\pyspark_env;C:\Users\lucas\anaconda3\envs\pyspark_env\Library\mingw-w64\bin;C:\Users\lucas\anaconda3\envs\pyspark_env\Library\usr\bin;C:\Users\lucas\anaconda3\envs\pyspark_env\Library\bin;C:\Users\lucas\anaconda3\envs\pyspark_env\Scripts;C:\Users\lucas\anaconda3\envs\pyspark_env\bin;C:\Users\lucas\anaconda3\condabin;C:\Users\lucas\anaconda3;C:\Program Files (x86)\Common Files\Oracle\Java\java8path;C:\Program Files (x86)\Common Files\Oracle\Java\javapath;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.8\libnvvp;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.8\bin;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v12.1\bin;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v12.1\libnvvp;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v12.6\bin;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v12.6\libnvvp;C:\Program Files\Rockwell Software\RSCommon;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0;C:\Windows\System32\OpenSSH;C:\Program Files (x86)\NVIDIA Corporation\PhysX\Common;C:\Program Files\NVIDIA Corporation\NVIDIA NvDLISR;C:\Program Files\Git\cmd;C:\Program Files\MongoDB\Server\4.4\bin;C:\Program Files\dotnet;C:\Program Files\PuTTY;C:\Program Files\Amazon\AWSCLIV2;C:\Program Files\Microsoft SQL Server\Client SDK\ODBC\130\Tools\Binn;C:\Program Files (x86)\Microsoft SQL Server\140\Tools\Binn;C:\Program Files\Microsoft SQL Server\140\Tools\Binn;C:\Program Files\Microsoft SQL Server\140\DTS\Binn;C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\WINDOWS\System32\WindowsPowerShell\v1.0;C:\WINDOWS\System32\OpenSSH;C:\Program Files\Docker\Docker\resources\bin;C:\Program Files\MATLAB\R2023a\bin;C:\Program Files\Microsoft SQL Server\150\Tools\Binn;C:\Program Files\Microsoft SQL Server\Client SDK\ODBC\170\Tools\Binn;C:\Program Files\NVIDIA Corporation\Nsight Compute 2023.1.1;C:\Program Files\Java\jdk-1.8\bin;C:\Users\lucas\AppData\Roaming\TinyTeX\bin\win32;C:\Program Files\MySQL\MySQL Shell 8.0\bin;C:\Users\lucas\AppData\Local\Microsoft\WindowsApps;C:\Users\lucas\AppData\Local\Programs\Microsoft VS Code\bin;C:\Users\lucas\.dotnet\tools;C:\Users\lucas\AppData\Local\Programs\MiKTeX\miktex\bin\x64;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.8\libnvvp;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.8\bin;.
JAVA_HOME: C:\Program Files\Java\jdk-1.8

In [4]:
spark = SparkSession.builder \
    .appName("movieapp") \
    .getOrCreate()

In [5]:
tag_df = spark.read.csv("tag.csv", header=True)

In [8]:
tag_df.show()

+------+-------+-----------------+-------------------+
|userId|movieId|              tag|          timestamp|
+------+-------+-----------------+-------------------+
|    18|   4141|      Mark Waters|2009-04-24 18:19:40|
|    65|    208|        dark hero|2013-05-10 01:41:18|
|    65|    353|        dark hero|2013-05-10 01:41:19|
|    65|    521|    noir thriller|2013-05-10 01:39:43|
|    65|    592|        dark hero|2013-05-10 01:41:18|
|    65|    668|        bollywood|2013-05-10 01:37:56|
|    65|    898| screwball comedy|2013-05-10 01:42:40|
|    65|   1248|    noir thriller|2013-05-10 01:39:43|
|    65|   1391|             mars|2013-05-10 01:40:55|
|    65|   1617|         neo-noir|2013-05-10 01:43:37|
|    65|   1694|            jesus|2013-05-10 01:38:45|
|    65|   1783|    noir thriller|2013-05-10 01:39:43|
|    65|   2022|            jesus|2013-05-10 01:38:45|
|    65|   2193|           dragon|2013-05-10 02:01:54|
|    65|   2353|conspiracy theory|2013-05-10 02:01:06|
|    65|   2662|             mars|2013-05-10 01:40:55|
|    65|   2726|    noir thriller|2013-05-10 01:39:43|
|    65|   2840|            jesus|2013-05-10 01:38:45|
|    65|   3052|            jesus|2013-05-10 01:38:46|
|    65|   5135|        bollywood|2013-05-10 01:37:56|
+------+-------+-----------------+-------------------+
only showing top 20 rows

In [ ]:
#check for duplicates among userid movieid pairing 
tag_df_dup = tag_df.groupby(['userId','movieId']).count().filter(col('count') > 1)
tag_df_dup.show()
check = tag_df.filter(col('userId') == 342)
check.show()
#duplicates look legitimate as different tags from the same user on the same movie

+------+-------+-----+
|userId|movieId|count|
+------+-------+-----+
|   342|   6953|    3|
|   469|    290|    2|
|   631|   3578|    4|
|  1629|     50|    5|
|  1629|    593|    2|
|  1662|   4226|    7|
|  1741|   5049|    2|
|  1741|  49234|    2|
|  1741|  53129|    5|
|  1741|  96052|    3|
|  2193|  55269|    6|
|  2274|  55820|    2|
|  2299|     34|    5|
|  2299|    316|    6|
|  2423|  56788|    2|
|  2611|     47|    3|
|  2751|   4847|    3|
|  2931|   2502|    2|
|  3576|    910|   10|
|  3596|   8833|    2|
+------+-------+-----+
only showing top 20 rows

+------+-------+----------------+-------------------+
|userId|movieId|             tag|          timestamp|
+------+-------+----------------+-------------------+
|   342|     32|post-apocalyptic|2012-01-25 18:02:10|
|   342|     32|      psychology|2012-01-25 18:02:15|
|   342|     32|     time travel|2012-01-25 18:02:06|
|   342|     50| organized crime|2012-01-31 16:58:31|
|   342|     50|    twist ending|2012-01-31 16:58:22|
|   342|     50|  twists & turns|2012-01-31 16:58:48|
|   342|    318|      friendship|2012-09-01 22:59:19|
|   342|    318|      masterplan|2015-02-08 19:48:18|
|   342|    318|  Morgan Freeman|2012-09-01 22:59:15|
|   342|    318|   prison escape|2015-02-08 19:48:18|
|   342|    318|      redemption|2015-02-08 19:48:18|
|   342|    318|         revenge|2012-09-01 22:59:27|
|   342|    356|     bittersweet|2012-09-01 23:00:28|
|   342|    356|         classic|2012-09-01 23:00:34|
|   342|    356|     vietnam war|2012-09-01 23:00:44|
|   342|    608| crime gone awry|2012-01-25 17:47:41|
|   342|    750|    black comedy|2013-03-17 23:02:19|
|   342|    750|         British|2013-03-17 23:02:09|
|   342|    750|        cold war|2013-03-17 23:02:23|
|   342|    750|          comedy|2013-03-17 23:02:25|
+------+-------+----------------+-------------------+
only showing top 20 rows

In [49]:
#check for null values
null_counts = {}
for column in tag_df.columns:
    null_count = tag_df.filter(col(column).isNull()).count()
    null_counts[column] = null_count
print(null_counts)

{'userId': 0, 'movieId': 0, 'tag': 0, 'timestamp': 3}

In [69]:
#make date column
tag_df = tag_df.withColumn('tag_date',date_format('timestamp','yyyy-MM-dd'))
tag_df.show()

+------+-------+-----------------+-------------------+----------+
|userId|movieId|              tag|          timestamp|  tag_date|
+------+-------+-----------------+-------------------+----------+
|    18|   4141|      Mark Waters|2009-04-24 18:19:40|2009-04-24|
|    65|    208|        dark hero|2013-05-10 01:41:18|2013-05-10|
|    65|    353|        dark hero|2013-05-10 01:41:19|2013-05-10|
|    65|    521|    noir thriller|2013-05-10 01:39:43|2013-05-10|
|    65|    592|        dark hero|2013-05-10 01:41:18|2013-05-10|
|    65|    668|        bollywood|2013-05-10 01:37:56|2013-05-10|
|    65|    898| screwball comedy|2013-05-10 01:42:40|2013-05-10|
|    65|   1248|    noir thriller|2013-05-10 01:39:43|2013-05-10|
|    65|   1391|             mars|2013-05-10 01:40:55|2013-05-10|
|    65|   1617|         neo-noir|2013-05-10 01:43:37|2013-05-10|
|    65|   1694|            jesus|2013-05-10 01:38:45|2013-05-10|
|    65|   1783|    noir thriller|2013-05-10 01:39:43|2013-05-10|
|    65|   2022|            jesus|2013-05-10 01:38:45|2013-05-10|
|    65|   2193|           dragon|2013-05-10 02:01:54|2013-05-10|
|    65|   2353|conspiracy theory|2013-05-10 02:01:06|2013-05-10|
|    65|   2662|             mars|2013-05-10 01:40:55|2013-05-10|
|    65|   2726|    noir thriller|2013-05-10 01:39:43|2013-05-10|
|    65|   2840|            jesus|2013-05-10 01:38:45|2013-05-10|
|    65|   3052|            jesus|2013-05-10 01:38:46|2013-05-10|
|    65|   5135|        bollywood|2013-05-10 01:37:56|2013-05-10|
+------+-------+-----------------+-------------------+----------+
only showing top 20 rows

In [9]:
rating_df = spark.read.csv("rating.csv",header=True)

In [10]:
rating_df.show()

+------+-------+------+-------------------+
|userId|movieId|rating|          timestamp|
+------+-------+------+-------------------+
|     1|      2|   3.5|2005-04-02 23:53:47|
|     1|     29|   3.5|2005-04-02 23:31:16|
|     1|     32|   3.5|2005-04-02 23:33:39|
|     1|     47|   3.5|2005-04-02 23:32:07|
|     1|     50|   3.5|2005-04-02 23:29:40|
|     1|    112|   3.5|2004-09-10 03:09:00|
|     1|    151|     4|2004-09-10 03:08:54|
|     1|    223|     4|2005-04-02 23:46:13|
|     1|    253|     4|2005-04-02 23:35:40|
|     1|    260|     4|2005-04-02 23:33:46|
|     1|    293|     4|2005-04-02 23:31:43|
|     1|    296|     4|2005-04-02 23:32:47|
|     1|    318|     4|2005-04-02 23:33:18|
|     1|    337|   3.5|2004-09-10 03:08:29|
|     1|    367|   3.5|2005-04-02 23:53:00|
|     1|    541|     4|2005-04-02 23:30:03|
|     1|    589|   3.5|2005-04-02 23:45:57|
|     1|    593|   3.5|2005-04-02 23:31:01|
|     1|    653|     3|2004-09-10 03:08:11|
|     1|    919|   3.5|2004-09-10 03:07:01|
+------+-------+------+-------------------+
only showing top 20 rows

In [ ]:
#check for duplicates
rating_df_dup = rating_df.groupby(['userId','movieId']).count().orderBy('count',ascending=False)
rating_df_dup.show()
#no duplicates

In [61]:
#check for nulls
null_counts = {}
for column in rating_df.columns:
    null_count = rating_df.filter(col(column).isNull()).count()
    null_counts[column] = null_count

In [67]:
rating_df = rating_df.withColumn('rating_date',date_format('timestamp','yyy-MM-dd'))
rating_df.show()

+------+-------+------+-------------------+-----------+
|userId|movieId|rating|          timestamp|rating_date|
+------+-------+------+-------------------+-----------+
|     1|      2|   3.5|2005-04-02 23:53:47| 2005-04-02|
|     1|     29|   3.5|2005-04-02 23:31:16| 2005-04-02|
|     1|     32|   3.5|2005-04-02 23:33:39| 2005-04-02|
|     1|     47|   3.5|2005-04-02 23:32:07| 2005-04-02|
|     1|     50|   3.5|2005-04-02 23:29:40| 2005-04-02|
|     1|    112|   3.5|2004-09-10 03:09:00| 2004-09-10|
|     1|    151|     4|2004-09-10 03:08:54| 2004-09-10|
|     1|    223|     4|2005-04-02 23:46:13| 2005-04-02|
|     1|    253|     4|2005-04-02 23:35:40| 2005-04-02|
|     1|    260|     4|2005-04-02 23:33:46| 2005-04-02|
|     1|    293|     4|2005-04-02 23:31:43| 2005-04-02|
|     1|    296|     4|2005-04-02 23:32:47| 2005-04-02|
|     1|    318|     4|2005-04-02 23:33:18| 2005-04-02|
|     1|    337|   3.5|2004-09-10 03:08:29| 2004-09-10|
|     1|    367|   3.5|2005-04-02 23:53:00| 2005-04-02|
|     1|    541|     4|2005-04-02 23:30:03| 2005-04-02|
|     1|    589|   3.5|2005-04-02 23:45:57| 2005-04-02|
|     1|    593|   3.5|2005-04-02 23:31:01| 2005-04-02|
|     1|    653|     3|2004-09-10 03:08:11| 2004-09-10|
|     1|    919|   3.5|2004-09-10 03:07:01| 2004-09-10|
+------+-------+------+-------------------+-----------+
only showing top 20 rows

In [11]:
movie_df = spark.read.csv("movie.csv",header=True)

In [12]:
movie_df.show()

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|
|     20|  Money Train (1995)|Action|Comedy|Cri...|
+-------+--------------------+--------------------+
only showing top 20 rows

In [73]:
#check for duplicate movieId
movie_df_dup = movie_df.groupby('movieId').count().filter(col('count') > 1)
movie_df_dup.show()

+-------+-----+
|movieId|count|
+-------+-----+
+-------+-----+

In [74]:
#check for null
null_counts = {}
for column in movie_df.columns:
    null_count = movie_df.filter(col(column).isNull()).count()
    null_counts[column] = null_count
print(null_counts)

{'movieId': 0, 'title': 0, 'genres': 0}

In [14]:
link_df = spark.read.csv("link.csv",header=True)

In [15]:
link_df.show()

+-------+------+------+
|movieId|imdbId|tmdbId|
+-------+------+------+
|      1|114709|   862|
|      2|113497|  8844|
|      3|113228| 15602|
|      4|114885| 31357|
|      5|113041| 11862|
|      6|113277|   949|
|      7|114319| 11860|
|      8|112302| 45325|
|      9|114576|  9091|
|     10|113189|   710|
|     11|112346|  9087|
|     12|112896| 12110|
|     13|112453| 21032|
|     14|113987| 10858|
|     15|112760|  1408|
|     16|112641|   524|
|     17|114388|  4584|
|     18|113101|     5|
|     19|112281|  9273|
|     20|113845| 11517|
+-------+------+------+
only showing top 20 rows

In [75]:
link_df_dup = link_df.groupby('movieId').count().filter(col('count') > 1)
link_df_dup.show()

+-------+-----+
|movieId|count|
+-------+-----+
+-------+-----+

In [76]:
#check for nulls 
null_counts = {}
for column in link_df.columns:
    null_count = link_df.filter(col(column).isNull()).count()
    null_counts[column] = null_count
print(null_counts)

{'movieId': 0, 'imdbId': 0, 'tmdbId': 252}

In [16]:
genome_tags_df = spark.read.csv("genome_tags.csv",header=True)

In [17]:
genome_tags_df.show()

+-----+---------------+
|tagId|            tag|
+-----+---------------+
|    1|            007|
|    2|   007 (series)|
|    3|   18th century|
|    4|          1920s|
|    5|          1930s|
|    6|          1950s|
|    7|          1960s|
|    8|          1970s|
|    9|          1980s|
|   10|   19th century|
|   11|             3d|
|   12|           70mm|
|   13|            80s|
|   14|           9/11|
|   15|        aardman|
|   16|aardman studios|
|   17|       abortion|
|   18|         absurd|
|   19|         action|
|   20|  action packed|
+-----+---------------+
only showing top 20 rows

In [ ]:
#check for dups
genome_tags_df_dup = genome_tags_df.groupby('tagId').count().filter(col('count')>1)
genome_tags_df_dup.show()

+-----+-----+
|tagId|count|
+-----+-----+
+-----+-----+

In [78]:
null_counts = {}
for column in genome_tags_df.columns:
    null_count = genome_tags_df.filter(col(column).isNull()).count()
    null_counts[column] = null_count
print(null_counts)

{'tagId': 0, 'tag': 0}

In [18]:
genome_scores_df = spark.read.csv("genome_scores.csv",header=True)

In [19]:
genome_scores_df.show()

+-------+-----+-------------------+
|movieId|tagId|          relevance|
+-------+-----+-------------------+
|      1|    1|              0.025|
|      1|    2|              0.025|
|      1|    3|            0.05775|
|      1|    4|            0.09675|
|      1|    5|            0.14675|
|      1|    6|              0.217|
|      1|    7|              0.067|
|      1|    8|            0.26275|
|      1|    9|              0.262|
|      1|   10|              0.032|
|      1|   11|              0.577|
|      1|   12|            0.11625|
|      1|   13|              0.188|
|      1|   14|0.00800000000000001|
|      1|   15|            0.03675|
|      1|   16|            0.28175|
|      1|   17|0.00700000000000001|
|      1|   18|             0.1105|
|      1|   19|             0.6705|
|      1|   20|             0.1845|
+-------+-----+-------------------+
only showing top 20 rows

In [24]:
df1 = rating_df.join(tag_df, (rating_df['userId'] == tag_df['userId']) & (rating_df['movieId'] == tag_df['movieId']),how='left').select(rating_df['userId'],rating_df['movieId'],tag_df['tag'])

In [79]:
df1.count()

20265625

In [80]:
rating_df.count()

20000263

In [ ]:
#filtered_df1 = df1.filter(df1['tag'].isNotNull())

In [28]:
#filtered_df1.show()

In [32]:
df2 = df1.join(movie_df,df1['movieId'] == movie_df['movieId'], how='left').select(df1['userId'],df1.movieId,df1.tag,movie_df.title,movie_df.genres)

In [33]:
df2.show()

+------+-------+----+--------------------+--------------------+
|userId|movieId| tag|               title|              genres|
+------+-------+----+--------------------+--------------------+
|     1|    919|NULL|Wizard of Oz, The...|Adventure|Childre...|
|105081|   4306|NULL|        Shrek (2001)|Adventure|Animati...|
|116465|   3100|NULL|River Runs Throug...|               Drama|
| 11731|   3257|NULL|Bodyguard, The (1...|Drama|Romance|Thr...|
| 11731|  58559|NULL|Dark Knight, The ...|Action|Crime|Dram...|
| 11732|      1|NULL|    Toy Story (1995)|Adventure|Animati...|
|127936|   2448|NULL|        Virus (1999)|       Horror|Sci-Fi|
|127936|   2729|NULL|       Lolita (1962)|       Drama|Romance|
|127936|   4718|NULL|American Pie 2 (2...|              Comedy|
| 23312|   1484|NULL|Daytrippers, The ...|Comedy|Drama|Myst...|
| 23312|   1617|NULL|L.A. Confidential...|Crime|Film-Noir|M...|
| 23312|   2111|NULL|Man with Two Brai...|              Comedy|
| 35001|   3354|NULL|Mission to Mars (...|              Sci-Fi|
| 35001|   3676|NULL|   Eraserhead (1977)|        Drama|Horror|
| 46736|   1204|NULL|Lawrence of Arabi...| Adventure|Drama|War|
| 58552|  48780|NULL|Prestige, The (2006)|Drama|Mystery|Sci...|
| 58552|  55765|NULL|American Gangster...|Crime|Drama|Thriller|
| 70324|   2662|NULL|War of the Worlds...| Action|Drama|Sci-Fi|
| 70324|   2738|NULL|Crimes of the Hea...|        Comedy|Drama|
| 81744|   1285|NULL|     Heathers (1989)|              Comedy|
+------+-------+----+--------------------+--------------------+
only showing top 20 rows

In [81]:
df3 = tag_df.join(genome_tags_df,tag_df.tag == genome_tags_df.tag,how='left')

In [ ]:
df3.show()

+------+-------+-----------------+-------------------+----------+-----+-----------------+
|userId|movieId|              tag|          timestamp|  tag_date|tagId|              tag|
+------+-------+-----------------+-------------------+----------+-----+-----------------+
|    18|   4141|      Mark Waters|2009-04-24 18:19:40|2009-04-24| NULL|             NULL|
|    65|    208|        dark hero|2013-05-10 01:41:18|2013-05-10|  288|        dark hero|
|    65|    353|        dark hero|2013-05-10 01:41:19|2013-05-10|  288|        dark hero|
|    65|    521|    noir thriller|2013-05-10 01:39:43|2013-05-10|  712|    noir thriller|
|    65|    592|        dark hero|2013-05-10 01:41:18|2013-05-10|  288|        dark hero|
|    65|    668|        bollywood|2013-05-10 01:37:56|2013-05-10|  149|        bollywood|
|    65|    898| screwball comedy|2013-05-10 01:42:40|2013-05-10|  894| screwball comedy|
|    65|   1248|    noir thriller|2013-05-10 01:39:43|2013-05-10|  712|    noir thriller|
|    65|   1391|             mars|2013-05-10 01:40:55|2013-05-10|  630|             mars|
|    65|   1617|         neo-noir|2013-05-10 01:43:37|2013-05-10|  700|         neo-noir|
|    65|   1694|            jesus|2013-05-10 01:38:45|2013-05-10|  579|            jesus|
|    65|   1783|    noir thriller|2013-05-10 01:39:43|2013-05-10|  712|    noir thriller|
|    65|   2022|            jesus|2013-05-10 01:38:45|2013-05-10|  579|            jesus|
|    65|   2193|           dragon|2013-05-10 02:01:54|2013-05-10|  321|           dragon|
|    65|   2353|conspiracy theory|2013-05-10 02:01:06|2013-05-10|  252|conspiracy theory|
|    65|   2662|             mars|2013-05-10 01:40:55|2013-05-10|  630|             mars|
|    65|   2726|    noir thriller|2013-05-10 01:39:43|2013-05-10|  712|    noir thriller|
|    65|   2840|            jesus|2013-05-10 01:38:45|2013-05-10|  579|            jesus|
|    65|   3052|            jesus|2013-05-10 01:38:46|2013-05-10|  579|            jesus|
|    65|   5135|        bollywood|2013-05-10 01:37:56|2013-05-10|  149|        bollywood|
+------+-------+-----------------+-------------------+----------+-----+-----------------+
only showing top 20 rows

465564
465564